body {
  height: 100%;
  margin: 0;
  font-family: 'Lacquer', sans-serif;
}

nav#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
nav#navbar > div.links{
  padding: 1% 1% 0 0;
  font-size: 1.5rem;
  text-align: right;
  font-family: 'Karla', sans-serif;
}

nav#navbar > div.links > a {
  margin: 0 1%;
  text-decoration: none;
}

section {
  flex:4 1 auto;
  display: flex;
}

section#welcome-section, section#contact-section, #social {
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#welcome-section > #greeting {
  margin-top: 10%;
}

section#projects-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media {
  flex-direction: row;
  margin-bottom: 10%;
}

.social-media > i {
  padding: 10% 10%;
}

h1, #projects-section > h1  {
  font-size: 4rem;
}

section#welcome-section > div {
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
}

.project-title {
  font-size: 2rem;
  /* font-family: 'Karla', sans-serif; */
  margin: 3% 0;
}

#tagline {
  margin: 8% 0 8% 0;
}

.code {
  color: gray;
  transition: color 0.3s ease-out;
}

.project-title:hover {
  color: #ff7f50;
}

img {
 border-radius: 10% 10% 10% 10%;
}

@media (min-width: 320px) and (max-width: 480px) {

}

.up {
  animation: MoveUpDown 1s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

.down {
  animation: MoveDownUp 1s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;

  }
  90% {
    bottom: -10
  }
}

@keyframes MoveDownUp {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  90% {
    bottom: -10
  }
}